body {
    background-color: #372963;
    color: #ffd700;
}
#header {
    /* color: #8B008B;
    color: 	#DAA520; */
    color: 	#ffd700;
    /* color: 	#DAA520;
    color: 	#DAA520; */
}

#headshot-img {
    height: 200px;
    width: 200px;
    border: solid red 5px;
}






