body {
    background: #0C0529;
    color: #FF0000;
}

#contacts ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;    
    top:0;
    position:sticky;
}

#contacts li {
float: right;
padding: 15px 15px;
/* position: sticky; */
}

#contacts a {
text-decoration: none;
}

#contacts i {
font-size: 30px;    
 color: gold;
}
/* make a semi circle */
#nav-btn {
height: 200px;
width: 200px;
display: grid;
grid-template-columns: [sect-btn]100px [menu-btn]100px;
grid-template-rows: repeat(4, 25% [row]);
justify-items: stretch;
}

#semi-circle-btn {
background-color: gold;
position:sticky; 
height: 50px; 
width: 100px; 
border-radius: 50px 50px 0 0; 
transform: rotate(270deg);
grid-column: 2;
grid-row-start: 2; 
grid-row-end: 4;
}

#semi-circle-btn:hover {

}
/* turn list items right side up */
#nav-btn ul{
list-style-type: none;
text-decoration-line: none;
}

#semi-circle-btn {
margin-left: 50px;
}

#nav-btn a {
word-wrap: normal;
font-family: 'Bungee Hairline', cursive;
text-decoration-line: none;

color: crimson;
padding: 5px;
}

.option-one { 
height: 30px; 
width: 100px; 
grid-column:1 ;
grid-row: 1/4 ;
}

.nav-option:hover {
background-color: gold;
font-weight: bold;
border: 2px solid crimson;
}

.option-two {
height: 30px; 
width: 100px; 
grid-column: 1;
grid-row: 2/4;
}

.option-three {
height: 30px; 
width: 100px; 
grid-column: 1;
grid-row: 3/4;
}

.option-four {
grid-column: 1;
grid-row: 4/4;
}


#resume {
position: relative;
}

/* The actual timeline (the vertical ruler)*/
.container {
    /* box-sizing: border-box; */
    height: 150px;    
}

.timeline {
position: absolute;
left: calc(50% - 5px);
/* max-width: 1000px; */
width: 10px;
height: 100%;
/* margin: 0 auto; */
background-color: crimson;
} 

/* The actual timeline (the vertical ruler) */
.timeline::after {
content: '';
position: absolute;
width: 6px;
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
color: crimson;
}

.timeline h2 a {
text-decoration-line: none;
}

/* Container around content */
.container {
box-sizing: border-box;
height: 150px;
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
color: green;
}

/* The circles on the timeline */
.container::after {
content: '';
position: absolute;
width: 25px;
height: 25px;
right: -17px;
background-color: white;
border: 4px solid #FF9F55;
top: 15px;
border-radius: 50%;
z-index: 1;
color: green;
}

/* Place the container to the left */
.left {
left: 0;
}

/* Place the container to the right */
.right {
left: 50%;
}

/* Add arrows to the left container (pointing right) */
/* .left::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid white;
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent white;
} */

/* Add arrows to the right container (pointing left) */
/* .right::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
left: 30px;
border: medium solid white;
border-width: 10px 10px 10px 0;
border-color: transparent white transparent transparent;
} */

/* Fix the circle for containers on the right side */
.right::after {
left: -16px;
}

/* The actual content */
.content {
padding: 20px 30px;
background-color: gold;
position: relative;
border-radius: 6px;

}

#skills {
display: flex;
justify-content: center;
}
.skills-container {
display: flex;
margin-top: 200px;
width: 500px;
justify-content: center;

/* max-width: 1000px;
position: relative;
margin: auto;
padding: 105px;
margin-top: 50px; */
}

#skills i {
font-size: 50px;













/* vertical-align: middle;
font-size: 100px;
padding: 15px;
line-height: 1.2;
right: 20%; */
}

/* Slideshow container */

.active {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade1 {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade1 {
  from {opacity: .4} 
  to {opacity: 1}
}

























