body {  
  background: #0C0529;  
  color: #FF0000;    
}

.sections-container {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #0C0529;
  color: #FF0000;  
}

.section-title {
  font-family: 'bungee hairline';
  font-size: 40px;
  color: rgb(0, 255, 255)

}

#name-loop {
  display: flex;
  justify-content: center;
  font-family: 'Bungee Shade';
  font-size: 70px;
  margin: auto;
}


#contacts ul {
  display: flex;
  justify-content:center;
  list-style-type: none;  
}

#contacts li {
  /* height: 210px; */
  padding: 30px 60px 30px 60px;
}

#contacts a {  
  text-decoration: none;  
}

#contacts i {  
  /* font-size: 90px;  */
  color: gold;
}

#contacts i:hover {  
  background-color: crimson;
  border: 5px solid gold;
  padding: 20px;
  color: gold;
  /* border shape */
  border-radius: 70px 70px 70px 70px;  
}

.devicon-twitter-original {
  font-size: 100px !important;
}

.devicon-linkedin-plain {
  font-size: 100px !important;
}

.devicon-github-original {
  font-size: 100px !important;
}

/* make a semi circle */
#nav-btn {    
  height: 500px;
  width: 500px;
  left: -40px;
  top: -200px; 
  transform: rotate(325deg);  
  text-align: center;    
  /* display: grid;  
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: flex-start; */
  position: fixed;
  z-index: 99;  
}

#semi-circle-btn {
  /* grid-column: 1;
  grid-row: 1; */
  background-color: gold;
  position: sticky;
  height: 200px; 
  width: 200px; 
  border-radius: 100px 100px 100px 100px;   
  opacity: 0.8;
  transition: 0.3s;    
}

#semi-circle-btn:hover {
  background-color: crimson !important;
  opacity: 1;
}

/* turn list items right side up */
#nav-btn ul{
  /* transform: rotate(315deg);       */
  /* grid-column: 2;
  grid-row: 2; */
  
  list-style-type: none;  
  text-decoration-line: none;
  display: none;
}

.nav-option {
  display: grid;
  word-wrap: normal;
  font-family: 'Bungee', cursive;
  font-size:30px;
  text-decoration-line: none;
  color: gold;
  padding: 5px;  
}

.nav-option:hover {
  font-family: 'Bungee', cursive;
  background-color: crimson;
  border: 2px solid gold;
  
  color: gold;
}

.option-one { 
  height: 30px; 
  width: 200px;   
  padding: 5px;
}

.option-two {
  height: 30px; 
  width: 200px;   
  padding: 5px;
  
}

.option-three {
  height: 30px; 
  width: 200px;   
  padding: 5px;
}

.option-four {
  height: 30px;
  width: 200px;  
  padding: 5px;
}

#aboutMe {
  margin-bottom: 200px;
}

/* Slideshow container */
.slideshow-container {   
  max-width: 1000px;
  width: 1200px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutMe img{
  /* background-color: rgba(255, 255, 255, 0.1); */
  align-self: center;
  align-content: center;
  height: 700px;
  width: 500px;
  padding: 0px 300px 0px 300px;
}

/* (Open!(These enclosed handle both carousels)) */
/* Next & previous buttons */
.back, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gold;
  font-weight: bold;
  font-size: 60px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.back {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.back:hover, .next:hover {
  background-color: crimson;
}

/* Caption text */
.text {
  background-color: rgba(255, 255, 255, 0.1);
  color: aqua;
  font-size: 30px;
  padding: 10px 20px 30px;
  position: absolute;
  bottom: 10px;
  /* width: 100%; */
  font-family: 'Open Sans', sans-serif;  
  text-align: center;
  margin: -130px; 
  height: 110px;
  width: 1000px;
  overflow-x: hidden;
  overflow-y: auto;  
}

.mySlides-1 {  
  display: flex;
  justify-content: center;
  height: 790px;  
}

.mySlides-1 p {  
  color: aqua;
  font-size: 30px;  
  position: absolute;  
  font-family: 'Bungee', cursive;
  text-align: center;
}

/* (Close!()) */

#resume {
  position: relative;
  margin-bottom: 100px;
}

#resume h2 {
  font-family: 'bungee Hairline';
  font-size: 35px;
}

#resume a {
  text-decoration-line: none;
  color: gold;
  
}

#resume a:hover {
  font-family: 'Bungee', cursive;
  background-color: crimson;
  border: 2px solid gold;
  color: gold;
  transition: 0.3s;
}


.container {
/* box-sizing: border-box; */
 height: 150px;    
 
}

/* The actual timeline (the vertical ruler)*/
.timeline {
  position: absolute;
  left: calc(50% - 5px);  
  width: 10px;
  height: 100%;  
  background-color: crimson;
} 

/* The actual timeline (the vertical ruler) */
.timeline::after {
content: '';
position: absolute;
width: 6px;
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
color: crimson;
}

.timeline h2 a {
text-decoration-line: none;
/* font-size: 60px; */
}

/* Container around content */
.container {
box-sizing: border-box;
height: 150px;
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
color: green;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #0C0529;
  border: 4px solid gold;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(0, 255, 255);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(0, 255, 255);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(0, 255, 255);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(0, 255, 255) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 20px 30px;
  /* height: 100px; */
  color: rgba(0, 255, 255);
  position: relative;
  border-radius: 15px;
  border: 2px solid rgba(0, 255, 255);
  height: 180px;
  overflow-y: auto;
}

#projects {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

#projects img {
  /* background-color: rgba(255, 255, 255, 0.1); */
  align-self: center;
  align-content: center;
  height: 700px;
  width: 800px;
  padding: 0px 300px 0px 300px;
}

.mySlides-2 {  
  display: flex;
  justify-content: center;
  height: 850px;
}

.mySlides-2 p {  
  color: aqua;
  font-size: 30px;  
  position: absolute;    
  bottom: 10px;  
  font-family: 'Bungee', cursive;
  text-align: center;
}




.skills-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom:100px;
}

#skills i {  
  font-size: 150px;
  padding: 10px;
  color: rgba(0, 255, 255);

}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#ping-box {
  display: flex;
  justify-content: center;
}

#ping-container {
  /* left: 30%; */
  display: flex;
  justify-content: center;  
  align-items: center;
  font-family: 'Bungee Outline', cursive;
  font-size: 80px;
  height: 200px;
  width: 900px;
  padding: 20px 30px; 
  position: relative;
  border-radius: 6px;  
  border: 2px solid rgba(0, 255, 255);
}

#ping-container:hover{
  font-family: 'Bungee Inline', cursive;
  background-color: crimson;
  border: 2px solid gold;
  color: gold;
  transition: 0.3s;
}

#ping-box a {  
  align-self: center;
  text-align: center;
  width: 50%;  
  text-decoration-line: none;
  color: gold;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 1025px){
  #name-loop {
    font-size: 40px;
  }

  #flex-wrapper-2 {
    width: 100px;
  }
}

@media only screen and (max-width: 800px){
  #flex-wrapper-2 {
    width: 800px;
  }

  #name-loop {
    font-size:50px;
  }

  #aboutMe {
    width: 400px;
  }
  #resume {
    width: 1000px;
  }
}

@media (orientation: landscape) {

}

@media (orientation: portrait){
  
}

/* @media (print) {
  
} */

























