body {
    background: #0C0529;
    color: #FF0000;
}

#contacts ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;    
    top:0;
    position:sticky;
}

#contacts li {
float: right;
padding: 15px 15px;
/* position: sticky; */
}

#contacts a {
text-decoration: none;
}

#contacts i {
font-size: 30px;    
 color: gold;
}

/* make a semi circle */
#nav-btn {
float: right;
right: 0px;
height: 200px;
width: 200px;
display: grid;
grid-template-columns: [sect-btn]100px [menu-btn]100px;
grid-template-rows: repeat(4, 25% [row]);
justify-items: stretch;
}

#semi-circle-btn {
background-color: gold;
position:sticky; 
height: 50px; 
width: 100px; 
border-radius: 50px 50px 0 0; 
transform: rotate(270deg);
grid-column: 2;
grid-row-start: 2; 
grid-row-end: 4;
}

#semi-circle-btn:hover {
background-color: crimson;
}

/* turn list items right side up */
#nav-btn ul{
list-style-type: none;
text-decoration-line: none;
}

#semi-circle-btn {
margin-left: 50px;
}

.nav-option {
display: block;
word-wrap: normal;
font-family: 'Bungee Hairline', cursive;
text-decoration-line: none;
color: gold;
padding: 5px;
}

.nav-option:hover {
font-family: 'Bungee Hairline', cursive;
background-color: gold;
border: 2px solid crimson;
color: crimson;
}

/*
Just like Flexbox, Grid layout is great for laying out direct children.
Since li.option-one is the child of a ul, not the child of section.nav-btn (which is a grid),
you're running into some problems here!
*/
.option-one { 
height: 30px; 
width: 100px; 
grid-column:1 ;
grid-row: 1/4 ;
}

.option-two {
height: 30px; 
width: 100px; 
grid-column: 1;
grid-row: 2/4;
}

.option-three {
height: 30px; 
width: 100px; 
grid-column: 1;
grid-row: 3/4;
}

.option-four {
height: 30px;
width: 100px;
grid-column: 1;
grid-row: 4/4;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex; /*Since only a single slide is displayed at a time, flexbox might not be necessary!*/
}

#aboutMe img{
align-self: center;
}
/* Next & previous buttons */
.back, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gold;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.back:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: aqua;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  font-family: 'Bungee Hairline', cursive;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .back, .next,.text {font-size: 11px}
}


#resume {
position: relative;
}

/* The actual timeline (the vertical ruler)*/
.container {
/* box-sizing: border-box; */
 height: 150px;    
}

.timeline {
position: absolute;
left: calc(50% - 5px);
/* max-width: 1000px; */
width: 10px;
height: 100%;
/* margin: 0 auto; */
background-color: crimson;
} 

/* The actual timeline (the vertical ruler) */
.timeline::after {
content: '';
position: absolute;
width: 6px;
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
color: crimson;
}

.timeline h2 a {
text-decoration-line: none;
}

/* Container around content */
.container {
box-sizing: border-box;
height: 150px;
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
color: green;
}

/* The circles on the timeline */
.container::after {
content: '';
position: absolute;
width: 25px;
height: 25px;
right: -17px;
background-color: white;
border: 4px solid #FF9F55;
top: 15px;
border-radius: 50%;
z-index: 1;
color: green;
}

/* Place the container to the left */
.left {
left: 0;
}

/* Place the container to the right */
.right {
left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid white;
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
left: 30px;
border: medium solid white;
border-width: 10px 10px 10px 0;
border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
left: -16px;
}

/* The actual content */
.content {
padding: 20px 30px;
background-color: gold;
position: relative;
border-radius: 6px;

}

#skills {
display: flex;
justify-content: center;
}
.skills-container {
display: flex;
margin-top: 200px;
width: 500px;
justify-content: center;

/* max-width: 1000px;
position: relative;
margin: auto;
padding: 105px;
margin-top: 50px; */
}

#skills i {
font-size: 50px;













/* vertical-align: middle;
font-size: 100px;
padding: 15px;
line-height: 1.2;
right: 20%; */
}

/* Slideshow container */

.active {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

























